.home-container{
    display: flex;
    margin-top: 100px;
}

.home-text{
    margin-top: 200px;
    width: 50%;
    padding: 60px;
}

.home-text h1{
    font-family: 'Open Sans', sans-serif;
    font-size: 120px;
    font-weight: 500;
    margin: 0;
}

.home-text p{
    font-size: 80px;
    margin: 10px;
    color: #ff4500;
    font-family: "Lucida Handwriting", cursive;
}

.home-text button{
    font-size: 40px;
    color: white;
    padding: 10px;
    border-radius: 50px;
    margin: 35px;
    width: 280px;
    border: none;
    background-color: #ff4500;
}

.home-text button:hover{
    box-shadow: #ff4500;
}

.img{
    width: 50%;
    padding-left: 40px;
}

img{
    width: 50vw;
    height: 80vh;
}

.menu-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 40px 200px;
}

 /* .item{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
} */

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 600px;
  margin: auto;
  margin-bottom: 10px;
  text-align: center;
  font-family: arial;
}

.price {
  color: grey;
  font-size: 22px;
}

.card .desc{
    font-size: 18px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #ff4500;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 24px;
  
}

.card button:hover {
  opacity: 0.7;
}

.menu-search{
    display: flex;
    margin-top: 200px;
    margin-left: 220px;
}

.menu-search input{
    margin-left: 1520px;
    font-size: 40px;
    padding: 5px;
    height: 40px;
    border: 1px solid #ff4500;
    border-radius: 8px;
}

.menu-search select{
    margin-left: 20px;
    height: 50px;
    font-size: 34px;
    padding: 5px;
    border: 1px solid #ff4500;
    border-radius: 8px;
}

.cart{
    margin-left: 400px;
}

.cart-container{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    margin: 40px auto;
}

.cart-main{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 80%;
    height: 200px;
    display: flex;
    margin-bottom: 10px;
}

.cart-container .cart-main .name{
    margin-top: 10px;
    margin-left: 200px;
    font-size: 24px;
    width: 30%;
}

.cart-container .cart-main .time{
    margin-top: 30px;
    margin-left: 300px;
    font-size: 24px;
    font-weight: 600;
    width: 10%;
}

.cart-container .cart-main .price{
    margin-top: 30px;
    margin-left: 300px;
    font-size: 24px;
    font-weight: 600;
    width: 10%;
}

.cart-container .cart-main .cart-button{
    margin-top: 50px;
    margin-left: 200px;
    width: 10%;
}

.cart-container .cart-main .cart-button button{
    font-size: 24px;
    font-weight: 600;
    color: white;
    background-color: #ff4500;
    padding: 10px;
    border-radius: 10px;
    border: 0;
}

.cart .cart-total{
    margin-left: 1600px;
    margin-right: 700px;
    margin-bottom: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 20%;
    font-size: 32px;
}

.cart .cart-total .totalPrice{
    margin-left: 10px;
    display: flex;
}

.cart .cart-total .tax{
    margin-left: 10px;
    display: flex;
}

.cart .cart-total .shipping{
    margin-left: 10px;
    display: flex;
}

.cart .cart-total .grand{
    margin-left: 10px;
    display: flex;
}

.cart .cart-total .cart-total-button{
    display: flex;
}
.cart .cart-total .cart-total-button button{
    width: 40%;
    margin: 10px;
    font-size: 32px;
    color: white;
    background-color: #ff4500;
    padding: 8px;
    border-radius: 10px;
    border: 0;
    font-weight: 600;
}