.sidenav{
  display: flex;
  justify-content: space-between;
  margin: 200px;
  font-size: 40px;
  position: absolute;
  width: 7%;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);

}


.sidenav .sidenav-item ul{
  list-style: none;
}

.sidenav .sidenav-item ul li{
  padding: 10px;
  text-align: center;
}

.sidenav .sidenav-item ul li a{
  text-decoration: none;
  color: black;
  font-size: 40px;
}

.sidenav .sidenav-item ul li a span{
  opacity: 0;
  font-weight: 900;
  border-right: 5px solid black;
  margin-left: 10px;
  text-align: center;
  border-radius: 5px;
}

.sidenav .sidenav-item ul li a.active{
  color: #ff2400;
  font-weight: 500;
}

.sidenav .sidenav-item ul li a.active span{
  opacity: 1;
}


