.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    flex-wrap: wrap;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  padding: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
}

h4,p{
    font-size: 24px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.detail {
  padding: 2px 16px;
}

img {
    width: 600px;
    height: 600px;
}

h1{
    margin-left: 270px;
    margin-top: 40px;
    font-size: 32px;
}

.buttons button{
    font-size: 32px;
    width: 300px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid green;
    background-color: white;
}

.reButton button{
    font-size: 32px;
    width: 600px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid green;
    background-color: white;
}