body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #fcfcfc;
}

.nav-container {
  max-width: 1100px;
  padding: 0 15px;
  font-size: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar {
  height: 100px;
  font-size: 40px;
  background-color: white;
  position: relative;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
  z-index: 2;
}

.logo {
    text-align: left;
    font-family: "Lucida Handwriting", cursive;
    margin-right: 1600px;
    margin-left: 20px;
}

.nav-elements {
}

.nav-elements ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.nav-elements ul li:not(:last-child) {
  margin-right: 60px;
}

.nav-elements ul a {
  font-size: 40px;
  font-weight: 400;
  color: #2f234f;
  text-decoration: none;
}

.nav-elements ul a.active {
  color: #574c4c;
  font-weight: 500;
  position: relative;
}

.nav-elements ul a.active::after {
  content: '';
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #574c4c;
}